:root {
    --arrow-outline: red;
    --arrow-color: blue;
    --rotation: 0deg;
}

body {
    background-color: rgb(0, 251, 255);
    background: url('assets/yakuza.jpg') rgb(168, 196, 197) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

p{
    margin: 0;
}

.points-wrapper{
    width: fit-content;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: inset 5px black;
    border-radius: 1000px;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: auto;
    margin-top: 50px;
    height: 90vh;
    width: 70vw;
}

.play-button {
    background-color: rgb(248, 117, 117);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 100px);
    height: 100px;
    width: 200px;
    box-shadow: 7px 7px 0 0 rgb(139, 0, 0);
    border-radius: 1000px;
    cursor: pointer;
}

.play-button:hover {
    box-shadow: none;
    transform: translate(10px, 10px);
}

.board-wrapper {
    --arrow-outline: white;
    --arrow-color: rgb(34, 34, 34);
}

.board-wrapper {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.arrow-wrapper {
    height: 100px;
    width: 100px;
    /* transform: rotate(var(--rotation)); */
    margin: 20px;
}
.arrow {
    display: block;
    position: absolute;
    margin: 30px;
    height: 50px;
    width: 50px;
    background-color: var(--arrow-color);
    border-radius: 100px 15px 10px 15px;
    border: solid var(--arrow-outline) 5px;
    animation-duration: 3s;
    animation-name: glow;
    animation-iteration-count: infinite;
}

.arrow::before {
    content: "";
    top: 10px;
    left: 20px;
    display: block;
    transform: rotate(-45deg) translateY(-50px);
    position: absolute;
    height: 50px;
    width: 30px;
    background-color: var(--arrow-color);
    border-radius: 5px;
}

.arrow::after {
    content: "";
    z-index: -1;
    top: 10px;
    left: 20px;
    height: 50px;
    width: 30px;
    display: block;
    position: absolute;
    transform: rotate(-45deg) translateY(-57px);
    background-color: var(--arrow-outline);
    border: solid var(--arrow-outline) 5px;
    border-radius: 5px;
    animation-duration: 3s;
    animation-name: glow;
    animation-iteration-count: infinite;
}

.up-arrow {
    transform: rotate(-135deg);
}

.right-arrow {
    transform: rotate(-45deg);
}

.down-arrow {
    transform: rotate(45deg);
}

.left-arrow {
    transform: rotate(135deg);
}

@keyframes glow {
    from {
        box-shadow: 0 0 0 0 var(--arrow-outline);
    }

    50% {
        box-shadow: 0 0 7px 3px var(--arrow-outline);
    }

    to {
        box-shadow: 0 0 0 0 var(--arrow-outline);
    }
}

.new-row-generator {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    .arrow-wrapper {
        height: 70px;
        width: 60px;
        margin: 10px;
    }

    .arrow {
        height: 35px;
        width: 35px;
    }

    .arrow::after {
        height: 35px;
        width: 25px;
        top: 25px;
    left: 30px;
    }

    .arrow::before {
        height: 35px;
        width: 25px;
        top: 25px;
        left: 30px;
    }
}
footer {
    background-color: #333; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 20px; /* Espaçamento interno */
    position: fixed; /* Ficar fixo na parte inferior */
    width: 100%; /* Largura total */
    bottom: 0; /* Alinhar na parte inferior */
}